#tr, #dest, #freq, #next, #time {

    padding: 50px;
}

body {
    background-color: rgb(202, 212, 218)
    
}

td {
    
    padding-left: 50px;
    padding-right: 25px;
}

table, th, td {

    border: 1px solid black;
}

table {

    width: 100%;
    background-color: azure;
}
